.time_button { 
    background-color: gray;
    color: white;
    border-radius: 25px;
}

.div_buttons { 
    display: flex;
    width: 34px;
    height: 34px;
    margin-top: -1px;
    margin-right: 60px;
}

.select_speed {
    color: #009588;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: transparent;
    width: 10%;
    line-height: 20px;
    border-radius: 50%;
    border: 1px solid #919191;
    text-align-last: center;
    padding: 9 px 0;
}

.select_speed > option:hover {
    background-color: #f5f5f5;
}