.time_button { 
    background-color: gray;
    color: white;
    border-radius: 25px;
}

.div_buttons { 
    display: flex;
    width: 34px;
    height: 34px;
    margin-top: -1px;
    margin-right: 60px;
}